*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    border: 1px solid black;
    height: 508px;
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
}
h2{
    border: 1px solid black;
    height: 500px;
    width: 500px;
    padding: 20px;
}
nav{
    float: left;
}
button{
    float: right;
    display: block;
}